<div id="navbar" class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-md-right">
      <li class="nav-item">
        <a id="navbar_home" class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a id="navbar_ticket" class="nav-link" href="ticket">Ticket</a>
      </li>
      <li class="nav-item">
        <a id="navbar_event" class="nav-link" href="event">Event</a>
      </li>
      <li class="nav-item">
        <a id="navbar_about" class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a
          role="button"
          id="navbar_logout"
          class="btn btn-warning"
          href="logout"
          >Log Out</a
        >
      </li>
    </ul>
  </nav>
  <h3 class="text-muted d-none d-md-block" id="">OTiS | OnlineTicketSystem</h3>
</div>
