<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <title>Login | OTiS</title>
  </head>

  <body>
    <%- include('./partials/script'); %>
    <div class="container">
      <div class="jumbotron">
        <form class="form-horizontal" method="post" action="/auth">
          <fieldset>
            <!-- Form Name -->
            <legend>OTiS | OnlineTicketSystem</legend>

            <!-- message (if any) -->
            <%- message %>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username"></label>
              <div class="col-md-5">
                <input
                  id="username"
                  name="username"
                  type="text"
                  placeholder="Username"
                  class="form-control input-md"
                  required
                />
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password"></label>
              <div class="col-md-5">
                <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="Password"
                  class="form-control input-md"
                  required
                />
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="submit"></label>
              <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-success">
                  Login
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <%- include('./partials/footer'); %>
    </div>
    <!-- /container -->
  </body>
</html>
